.item {
  font-weight: 500;
  font-size: 1.15rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__checkbox {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.item__label {
  flex: 1;
}

.item__labelCompleted {
  text-decoration: line-through;
  color: var(--light-gray);
  font-weight: 400;
}

.item__button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--light-gray);
}
